html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main {
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Courier New;
  font-size: 16px;
  line-height: 21px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}

p {
  margin-bottom: 1.1em;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .8em;
}

.wrap {
  background: white;
}

.content {
  height: 100%;
  padding: 20px 0;
  font-size: 0;
}

.main {
  width: 633.33333px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.clear {
  content: "";
  height: 300px;
}

#typed-cursor {
  display: none;
}

.element {
  font-size: 32pt;
  padding-top: 50px;
  line-height: 50px;
  max-width: 960px;
  margin: 0px auto;
}

.author {
  font-size: 12pt;
  margin-top: 30px;
  font-family: Helvetica;
  font-weight: lighter;
  display: none;
  letter-spacing: 3px;
}
.author span {
  text-decoration: underline;
}

.stuff {
  text-align: center;
  position: relative;
  display: none;
  height: 1200px;
}
.stuff .logo {
  position: relative;
  text-align: left;
  width: 160px;
  margin-bottom: 25px;
}
.stuff h1 {
  font-size: 20pt;
  font-weight: normal;
}
.stuff .polaroid {
  text-align: center;
  display: inline-block;
  position: relative;
  background: url("/img/crossword.png");
  box-shadow: 2px 2px 5px 2px lightgray;
  margin: 35px 20px;
}
.stuff .polaroid div {
  padding: 10px 10px 30px 10px;
}
.stuff .polaroid div img {
  border: 2px solid lightgray;
  width: 250px;
}
.stuff .polaroid p {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 10pt;
  position: absolute;
  left: 15px;
  top: 245px;
  color: gray;
}
.stuff p {
  font-size: 11pt;
  font-family: Helvetica;
  font-weight: lighter;
  margin-top: 20px;
  letter-spacing: 3px;
}

.content {
  position: relative;
  text-align: center;
}
.content i.fa-angle-double-down, .content i.fa-angle-double-up {
  position: fixed;
  width: 10%;
  display: block;
  font-size: 36pt;
  bottom: 4%;
  left: 45%;
  color: black;
}
.content i.fa-angle-double-down.fa-angle-double-down, .content i.fa-angle-double-up.fa-angle-double-down {
  display: none;
}
.content i.fa-angle-double-down.fa-angle-double-up, .content i.fa-angle-double-up.fa-angle-double-up {
  display: none;
  color: gray;
}
.content .slide_logo {
  position: fixed;
  width: 250px;
  left: -700px;
  margin-top: 35px;
}
.content .slide_name {
  position: fixed;
  left: -600px;
  font-size: 26pt;
  margin-top: 320px;
  font-family: Courier New;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 8px;
  text-align: left;
}
.content .slide_name span {
  font-size: 20pt;
  letter-spacing: 10.3px;
}
.content .slide_nav {
  position: fixed;
  width: 200px;
  left: -500px;
  font-size: 16pt;
  margin-top: 450px;
  text-align: left;
  font-family: 'League Script', cursive;
}
.content .slide_nav ul {
  position: relative;
}
.content .slide_nav ul li {
  font-size: 16pt;
  padding: 8px 0px;
  position: relative;
  z-index: 100;
}
.content .slide_nav ul li a {
  position: relative;
}

.main_page {
  display: none;
  margin-right: 150px;
  height: 800px;
  position: relative;
}
.main_page .details {
  width: 400px;
  float: right;
  text-align: right;
  padding-top: 100px;
}
.main_page .details h2 {
  font-family: 'League Script', cursive;
  margin-top: 40px;
  font-size: 24pt;
}
.main_page .details p {
  margin-top: 20px;
  font-size: 12pt;
}
