@import "library";
@import "reset";

// Global templates

%group {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

%container {
    margin: 0 auto;
    max-width: $wrap_width;
    padding: 0 $gutter_width;
}

%content {
    font-size: 16px;
}

// Global tags

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Courier New;
    font-size: 16px;
    line-height: 21px;
}

a {
    color: black;
    text-decoration: none;
    &:hover {
        color: gray;
    }
}

p {
    margin-bottom: 1.1em;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: .8em;
}

// Everything else

.wrap {
    // @extend %container;
    background:white;
}

.content {
    height: 100%;
    padding: 20px 0;
    font-size: 0;
}

.main {
    @extend %content;
    @include columnify(8);
}

.clear {
  content: "";
  height: 300px;
}

#typed-cursor{
  display: none;
}

.element {
  font-size: 32pt;
  padding-top: 50px;
  line-height: 50px;
  max-width: 960px;
  margin: 0px auto;
}

.author {
    font-size: 12pt;
    margin-top: 30px;
    font-family: Helvetica;
    font-weight: lighter;
    display: none;
    letter-spacing: 3px;
    span {
        text-decoration: underline;
    }
}

.stuff {
  text-align: center;
  position: relative;
  display: none;
  height: 1200px;
  .logo {
    position: relative;
    text-align: left;
    width: 160px;
    margin-bottom: 25px;
  }
  h1 {
    font-size: 20pt;
    font-weight: normal;
  }
  .polaroid {
    text-align: center;
    display: inline-block;
    position: relative;
    background: url('/img/crossword.png');
    box-shadow: 2px 2px 5px 2px lightgray;
    margin: 35px 20px;
    div {
        padding: 10px 10px 30px 10px;
        img {
            border: 2px solid lightgray;
            width: 250px;
        }
    }
    p {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 10pt;
        position: absolute;
        left: 15px;
        top: 245px;
        color: gray;
    }
  }
  p {
    font-size: 11pt;
    font-family: Helvetica;
    font-weight: lighter;
    margin-top: 20px;
    letter-spacing: 3px;
  }
}

.content {
    position: relative;
    text-align: center;
    i.fa-angle-double-down, i.fa-angle-double-up {
        position: fixed;
        width: 10%;
        display: block;
        font-size: 36pt;
        bottom: 4%;
        left: 45%;
        color: black;
        &.fa-angle-double-down {
            display: none;
        }
        &.fa-angle-double-up {
            display: none;
            color: gray;
        }
    }
    .slide_logo {
        position: fixed;
        width: 250px;
        left: -700px;
        margin-top: 35px;
    }
    .slide_name {
        position: fixed;
        left: -600px;
        font-size: 26pt;
        margin-top: 320px;
        font-family: Courier New;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 8px;
        text-align: left;
        span {
            font-size: 20pt;
            letter-spacing: 10.3px;
        }
    }
    ul {
        position: fixed;
        width: 200px;
        left: -500px;
        margin-top: 450px;
        text-align: left;
        font-family: 'League Script', cursive;
        li {
            font-size: 16pt;
            padding: 8px 0px;
            a {
                font-size: 16pt;
            }
        }
    }
}

.main_page {
    display: none;
    margin-right: 150px;
    height: 800px;
    position: relative;
    .details {
        width: 400px;
        float: right;
        text-align: right;
        padding-top: 100px;
        h2 {
            font-family: 'League Script', cursive;
            margin-top: 40px;
            font-size: 24pt;
        }
        p {
            margin-top: 20px;
            font-size: 12pt;
        }
    }
}


